ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
}

li {
  float: left;
}

li a,  .dropbtn{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  border-bottom: 3px solid red;
 }

.dropbtn::after {
  content: 'v';
  color: red;
  padding-left: 5px;
}
body{
  
  font-family:  impact,courier,papyrus;
  color: #CCCCFF ; /*purple*/
  background-color:  #fdbb2d /*gradiant*/
  padding: 70px;
  margin: 0;
}

h2{
  font-family:  impact,courier,papyrus;
  color: black ;
  font-weight: bold;
}

h3{
  font-family:  impact,courier,papyrus;
  color:grey ; 
  font-weight: normal;
}

/*drop down*/
select{
  border:none;
  padding: 10px 20px;
  border-radius:5px;
}

select:focus{
  outline:none;
}